# とりあえず無視
/*
/.*

# 目をかけてやってもいい
!/.gitignore
!/.vimrc.apperance
!/.vimrc.basic
!/.vimrc.bundle
!/.vimrc.colors
!/.vimrc.completion
!/.vimrc.editing
!/.vimrc.encoding
!/.vimrc.indent
!/.vimrc.keymap
!/.vimrc.misc
!/.vimrc.moving
!/.vimrc.plugin_setting
!/.vimrc.search

# 頑として無視
