!!!Cursor!!!
Xcursor.theme: Vainilla-DMZ-AA
Xcursor.size: 16

!!!Color!!!
!color0  = 30m : color8  = 1,30m
!color1  = 31m : color9  = 1,31m
!color2  = 32m : color10 = 1,32m
!color3  = 33m : color11 = 1,33m
!color4  = 34m : color12 = 1,34m
!color5  = 35m : color13 = 1,35m
!color14 = 36m : color6  = 1,36m
!color7  = 37m : color15 = 1,37m

! Normal : Light

!!black
*color0:   #666666
*color8:   #999999
!!red
*color1:   #a82200
*color9:   #ff3300
!!green
*color2:   #a2b149
*color10:  #c3f786
!!yellow
*color3:   #a86500
*color11:  #ff9900
!!blue
*color4:   #5e5eff
*color12:  #4B86F3
!!magenta
*color5:   #b0486e
*color13:  #dd66ff
!!cyan
*color6:   #4ca4a8
*color14:  #73f7ff
!!white
*color7:   #cccccc
*color15:  #e8e8e8

!!!Config Urxvt!!!

URxvt.depth: 32
!URxvt.background: rgba:1500/1500/1500/ffff
URxvt.termName: rxvt-256color
URxvt.background:  #000000
URxvt.foreground: white
! URxvt.font: xft:anony for Powerline:pixelsize=15:antialias=true
! URxvt.boldFont: xft:anony for Powerline:pixelsize=15:antialias=true
URxvt.font: xft:Ricty for Powerline:pixelsize=16:antialias=true
URxvt.boldFont: xft:Ricty for Powerline:pixelsize=16:antialias=true
URxvt.geometry: 80x30
URxvt.scrollBar: false
URxvt.secondaryScroll: true
URxvt.keepscroll: true
URxvt.scrollBar_right: true
URxvt.scrollBar_floating: true
URxvt.scrollstyle: plain
URxvt.scrollColor: #252525
URxvt.cursorColor: #404040
URxvt.transparent: true
URxvt.tintColor: white
URxvt.shading: 50
URxvt.saveLines:2048
URxvt.preeditType: Root
URxvt.urllauncher: luakit
!URxvt.perl-lib: ~/dict/script/perl/lib/
!urxvt.perl-ext-common: default,matcher,tabbed,clipboard tabbed
!URxvt.perl-ext-common: default
!コピー機能 Ctrl+Shift+C:coly,Ctrl+Shift+V:paste,Ctrl+Shift+Alt+V:urxvt上で現在選択されているorされていたテキストをペースト
!URxvt.keysym.C-C: perl:urxvt-xsel:copy
!URxvt.keysym.C-V: perl:urxvt-xsel:paste
!URxvt.keysym.C-M-V: perl:urxvt-xsel:paste_selected
URxvt.inputMethod: ibus
URxvt.preeditType: OverTheSpot

!Config XTerm
XTerm*utf8: 1
XTerm*locale: true
XTerm*faceName: 'Ricty'
XTerm*faceSize: 30
!XTerm*cjkWidth: true
XTerm*background: black
XTerm*foreground: white
XTerm*saveLines: 2048
!XTerm*geometry: 50x20+300+100
XTerm*geometry: 30x10

